[Unit]
Description = Add %i dns query to cloudflare

[Service]
EnvironmentFile=/usr/local/lib/cloudflare-ddns/.env
ExecStart = /usr/bin/python3 /usr/local/lib/cloudflare-ddns/cloudflare-ddns.py -r A %i
Type = simple

[Install]
WantedBy = multi-user.target
