[Unit]
Description = Add %i dns query to cloudflare

[Service]
ExecStart=/usr/bin/docker run \
    --env-file .env \
    --name=%p_%i \
    --net=host \
    --rm \
    cloudflare-ddns \
    -r AAAA \
    %i
ExecStartPre=-/usr/bin/docker kill %p_%i
ExecStartPre=-/usr/bin/docker rm %p_%i
ExecStartPre=/usr/bin/docker build -t cloudflare-ddns .
KillMode=none
TimeoutStartSec=0
Type=simple
WorkingDirectory=%h/services/cloudflare-ddns

[Install]
WantedBy = multi-user.target
