[Unit]
Description = Add A record to %i in Cloudflare
Wants=network.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=60
ExecStartPre=/bin/rm -f %t/container-cloudflare-ddns-a_%i.pid %t/container-cloudflare-ddns-a_%i.ctr-id
ExecStartPre=/usr/bin/podman build -t cloudflare-ddns .
ExecStart=/usr/bin/podman run \
    --cgroups=no-conmon \
    --cidfile %t/container-cloudflare-ddns-a_%i.ctr-id \
    --conmon-pidfile %t/container-cloudflare-ddns-a_%i.pid \
    --env-file .env \
    --name=cloudflare-ddns-a_%i \
    --net=host \
    --replace \
    --rm \
    cloudflare-ddns \
    -r A \
    %i
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-cloudflare-ddns-a_%i.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-cloudflare-ddns-a_%i.ctr-id
PIDFile=%t/container-cloudflare-ddns-a_%i.pid
Type=simple
WorkingDirectory=%h/pods/cloudflare-ddns

[Install]
WantedBy=multi-user.target default.target
